.courses-page {
    padding: 20px;
    font-family: 'Arial', sans-serif;
  }
  
  .page-title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .courses-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .course-card {
    background: #00112E;
    color: #FFE9BA;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .course-card:hover {
    transform: translateY(-5px);
  }
  
  .course-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .course-description {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .course-details,
  .course-tasks {
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
  }
  
  
  
  .back-button,
  .enroll-button,
  .submit-test-button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #00112E;
    color: #FFE9BA;
  }
  
  .submit-test-button {
    background-color: #B687F1;
  }
  
  .results {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
  }
  
  /* WebinarSection.css */
.webinar-section {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  text-align: center;
}

.webinar-section button {
  background-color: #B687F1;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

/* InteractiveTasks.css */
.interactive-tasks {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.interactive-tasks .task {
  margin-bottom: 10px;
}

.interactive-tasks input {
  margin-top: 5px;
}

.course-tasks {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.task h3 {
  color: #00112E;
  margin-bottom: 20px;
}

.question {
  margin-bottom: 20px;
}

.question p {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

.question input {
  width: 90% !important;
  padding: 10px;
  font-size: 14px;
  border: 2px solid #ddd;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

.question input:focus {
  border-color: #B687F1;
  box-shadow: 0 0 5px rgba(182, 135, 241, 0.5);
}



.results {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #4CAF50;
  text-align: center;
}
